.q1{
    background-image: url(https://themedox.com/demo/mykd/assets/img/slider/slider_bg.jpg);
    font-family: 'berlin-sans-fb-demi-bold', sans-serif;
    
}
.nav-link{
    color: white;
    font-weight: 900;
    font-size: 20px;
}
.q3{
    width: 200px;
}
.navbar{
    padding: 25px 70px 15px 70px;
}
.bi{
    color: white;
    margin-right: 30px;
    margin-top: 15px;
}
.navbar-nav{
    margin-left: 60px;
}
.btn{
    padding: 13px 60px;
    border: 3px solid #43EE7E;
    background-color: black;
    color: white;
    font-weight: 900;
    font-family: 'berlin-sans-fb-demi-bold', sans-serif;
    border-radius: 50px;
}
.q4{
    color: #43EE7E;
    font-weight: 800;
    padding: 10px 40px;
    background-color: #20583F;
    display: inline;
}
.q5{
    color: white;
    font-weight: 900;
    font-size: 80px;
}
.q6{
    color: white;
    font-weight: 800;
}
.q8{
    text-decoration: none;
    font-weight: 800;
    color: black;
    background-color: #43EE7E;
    border-radius: 50px;
    border: 3px solid white;
    padding: 15px 30px;
}
.q7{
    padding-top: 70px;
}
.q9{
    padding-top: 30px;
}
.w1{
    margin-top: 50px;
}
.w2{
    margin-top: 50px;
    margin-left: 25px;
    padding-top: 5px;
}
.w3{
    margin-top: 50px;
    padding-top: 13px;
}