.q1{
    background-image: url(https://themedox.com/demo/mykd/assets/img/slider/slider_bg.jpg);
    font-family: 'berlin-sans-fb-demi-bold', sans-serif;
    
}
.nav-link{
    color: white;
    font-weight: 900;
}
.q3{
    width: 200px;
}
.navbar{
    padding: 25px 70px 15px 70px;
}
.bi{
    color: white;
    margin-right: 30px;
}
.navbar-nav{
    margin-left: 100px;
}
.btn{
    
}